@import url("https://fonts.googleapis.com/css2?family=Heebo&family=Roboto+Mono:wght@700&display=swap");
.login {
  display: grid;
  place-items: center;
  height: 100vh;
  /* background-color: aqua; */
  padding: 10px;
}

.login__logo {
  width: 80vw;
  /* height: 50px; */
}

.login__slogan {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: "Roboto Mono", monospace;
  font-weight: bolder;
  /* font-style: italic; */
  color: #424246;
  font-size: 3rem;
  line-height: 3rem;
  /* margin-bottom: -50px; */
}

.login > p {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  font-family: "Heebo", sans-serif;
  color: #606060;
  font-size: 1.3rem;
}

.login > button {
  background-color: #e63d3d;
  font-weight: bold;
  padding: 15px;
  cursor: pointer;
  border-color: #e45a5a;
  /* border: none; */
  /* box-shadow: 2px 4px #e45a5a; */
  font-size: large;
  color: white;
  border-radius: 99px;
}

.login > button:hover {
  background-color: #e05454;
  color: black;
  cursor: pointer;
}
